{% load static %}
<header class="header">
    <div class="header__container">
        <div class="header__body">
            <a href="{% url 'game-view' %}" class="header__logo">
                <picture>
                    <img src="{% static 'img/logo.png' %}" alt="Corona"></picture>
            </a>
            <nav class="header__menu menu">
                <ul class="menu__list">
                    <li><a {% if title == 'Game' %} class="menu__link menu__link_act"
                                                    {% else %}class="menu__link" {% endif %}
                                                    href="{% url 'game-view' %}">Game</a></li>
                    <li><a {% if title == 'Soft' %} class="menu__link menu__link_act"
                                                    {% else %}class="menu__link" {% endif %}
                                                    href="{% url 'soft-view' %}">Soft</a></li>
                    <form action="{% url 'game-view' %}" method="get" class="search-form">
                        <div class="">
                            <input type="search" name="s" class="menu__link menu__link_act search_input"
                                   placeholder="Search" style="color: #d0d0d0;">
                            <button type="submit" class=""></button>
                        </div>
                    </form>
                </ul>
            </nav>
            <div class="header__light">
            </div>
            <div class="menu__burger">
                <span></span>
            </div>
        </div>
    </div>
</header>