{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="page">
        <div class="page__container">
            <div class="page__body">
                <div class="page__img">
                    <picture>

                        <img src="{{ post.photo.url }}" alt=""></picture>
                </div>
                <div class="page__right">
                    <div class="page__content">
                        <div class="page__title">{{ post.title }}</div>
                        <div class="page__line"></div>
                        <p class="page__text color-gray">{{ post.details }}</p>
                        <div class="page__block">
                            <div class="page__sub-title color-edit">System Requirements</div>
                            <div class="page__line-2 color-edit"></div>
                            <div class="page__item color-edit">{{ post.description|safe }}</div>
                            <div class="page__name">{{ post.sub_title }}</div>
                        </div>
                        <a href="{{ post.file.url }}" class="page__download">DOWNLOAD</a>
                    </div>
                    {% if post.category == 'Game' %}
                        <a href="{% url 'game-view' %}" class="page__all">All Game from Corona</a>
                    {% elif post.category == 'Soft' %}
                        <a href="{% url 'soft-view' %}" class="page__all">All Soft from Corona</a>
                    {% elif post.category == 'Plugin' %}
                        <a href="{% url 'plugin-view' %}" class="page__all">All Plugin from Corona</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}