{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <main class="main">
        <div class="main__container">
            <div class="main__body">
                {% for post in posts %}
                    <div class="main__column">
                        <div class="main__item">
                            <div class="main__img">
                                <picture>
                                    <img src="{{ post.photo.url }}" alt=""></picture>
                            </div>
                            <div class="main__content">
                                <h3 class="main__sub-title color-edit">{{ post.title }}</h3>
                                <p class="main__text color-edit">{{ post.details|safe|truncatechars:328 }}</p>
                                <a href="{{ post.get_absolute_url }}" class="main__more color-edit">READ MORE</a>
                                <a href="" onclick="ajaxSend({{ post.id }})" class="main__download">DOWNLOAD</a>
                                <div class="main__sub-text">{{ post.sub_title }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if page_obj.has_other_pages %}
                <div class="main__pages">
                    {% if page_obj.has_previous %}
                        <a href="?page=1" class="main__page">1</a>
                        <a href="?page={{ page_obj.previous_page_number }}" class="main__page">&laquo;</a>
                    {% endif %}
                    {% for p in page_obj.paginator.page_range %}
                        {% if page_obj.number == p %}
                            <a href="?page={{ p }}" class="main__page main__page_act">{{ p }}</a>
                        {% elif p > page_obj.number|add:-5 and p < page_obj.number|add:5 %}
                            <a href="?page={{ p }}" class="main__page">{{ p }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="main__page">&raquo; </a>
                        <a href="?page={{ page_obj.paginator.num_pages }}"
                           class="main__page">{{ page_obj.paginator.num_pages }}</a>
                    {% endif %}

                </div>
            {% endif %}

        </div>
    </main>
    <script>
        function ajaxSend(post_id) {
            fetch(`/post/${post_id}/download_add`, {
                method: "GET",
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                }
            })
        }
    </script>
{% endblock %}